[Unit]
Description=Berryaudio Service
After=network.target

[Service]
# The Python interpreter inside your virtualenv
ExecStart=/home/pi/env/bin/berryaudio

# Optional but recommended:
WorkingDirectory=/home/pi/
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/home/pi/env/bin"
Restart=always
RestartSec=2
User=pi

[Install]
WantedBy=multi-user.target