[Unit]
Description=BlueALSA
After=bluetooth.service

[Service]
ExecStart=/usr/bin/bluealsad -p a2dp-source -p a2dp-sink --all-codecs
Restart=always
#User=bluealsa
User=root
Group=audio

[Install]
WantedBy=multi-user.target
