[Unit]
Description=CamillaDSP GUI
After=network.target

[Service]
# The Python interpreter inside your virtualenv
ExecStart=/home/pi/env_dsp/bin/python /home/pi/berryaudio/dsp/camilladsp/camillagui/main.py

# Optional but recommended:
WorkingDirectory=/home/pi/berryaudio/dsp/camilladsp/camillagui/
Environment="PATH=/home/pi/env_dsp/bin"
Restart=always
RestartSec=2
User=pi

[Install]
WantedBy=multi-user.target